rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
    	allow create: if true;
    	allow read: if isSignedIn();
      allow delete, update: if isOwner();
      
      match /info/{info} {
        allow create: if isSignedIn();
        allow read, update, delete: if isOwner();
      }
      match /cache/{cache} {
        allow create: if true;
        allow read: if isSignedIn() && isOwner();
        allow update: if isOwner();
      }
      match /tasks/{task} {
        allow create: if isSignedIn();
        allow update: if isOwner();
        allow read, delete: if isOwner();
      }
      match /tags/{tag} {
        allow create: if isSignedIn();
        allow read, update, delete: if isOwner();
      }
      match /filters/{tag} {
        allow create: if isSignedIn();
        allow read, update, delete: if isOwner();
      }
      match /lists/{li} {
        allow create: if isSignedIn();
        allow update, read, delete: if isOwner();
      }
      match /stats/{li} {
        allow create: if isSignedIn();
        allow update, read, delete: if isOwner();
      }
      match /folders/{fold} {
        allow create: if isSignedIn();
        allow update, read, delete: if isOwner();
      }

      function isOwner() {
        return isSignedIn() && (request.auth.uid == resource.data.userId);
      }
      function isSignedIn() {
        return request.auth.uid != null;
      }
    }
  }
}