<!doctype html>

<html>
  <head>
    <% include partials/header %>
    <script src='/js/main.js' defer></script>

    <title>Index</title>
  </head>

  <body class='background'>

    <div id='vue'>
      <root-preloading v-if='isPreloding'></root-preloading>
      <template v-else>
        <navigation :desktop='desktop'></navigation>
      </template>
    </div>

  </body>
</html>
