<!doctype html>

<html>
  <head>
    <% include partials/header %>
    <script src='/js/main.js' defer></script>

    <title>Index</title>
  </head>

  <body>

    <div id='vue' :class='themes.backgroundStyle'>
      <navigation :dark='dark' :desktop='desktop'  @change-theme='dark = !dark'></navigation>
    </div>

  </body>
</html>
