<!doctype html>

<html>
  <head>
    <% include partials/header %>

    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div style="height: 400px; width: 400px" class="card"></div>
asdf

    <% include partials/footer %>
  </body>
</html>
