<!doctype html>

<html>
  <head>
    <% include partials/header %>
    <script src='/js/main.js' defer></script>

    <title>Index</title>
  </head>

  <body class='background'>

    <div id='vue'>
      <navigation :desktop='desktop'></navigation>
    </div>

  </body>
</html>
