<!doctype html>

<html>
  <head>
    <% include partials/header %>

    <title>Index</title>
  </head>

  <body>

    <div id='vue'>
      <navigation :desktop='desktop'></navigation>
      {{ desktop }}
    </div>

    <% include partials/footer %>
  </body>
</html>
