<!doctype html>

<html lang='en'>
  <head>
    <link rel="stylesheet" href="/css/forms.css" type='text/css' />
    <% include partials/header %>
    <script src='/js/components/forms.js' defer></script>
    <script src='/js/main.js' defer></script>

    <title>Login</title>
  </head>

  <body class='background'>

    <div id='vue'>
      <root-preloading v-if='preloading'></root-preloading>
      <template v-else>
        <navigation :desktop='desktop'></navigation>

        <div class='mobile-margin'></div>
        <card-form act='/login'>
          <form-title>LOGIN</form-title>
          <form-input :max='40' name='username' placeholder='Username:' type='text'></form-input>
          <form-input :max='40' name='password' placeholder='Password:' type='password'></form-input>
          <% if (success[0]) { %>
            <form-success><%= success[0] %></form-success>
          <% } %>
          <% if (error[0]) {%>
            <form-error><%= error[0] %></form-error>
          <% } %>
          <form-link to='/signup'>Doesn't have an account? Sign up!</form-link>
          <form-button>Get things done</form-button>
          <form-link to='/forgot'>Forgot password or username?</form-link>
        </card-form>
        <div class='mobile-margin'></div>
      </template>
    </div>

  </body>
</html>
