.mobile-margin {
  height: 100px;
}

.card-form,
.form-input,
.form-title,
.form-button {
  display: flex;
  justify-content: center;
}

.card-form > div,
.form-input > div {
  display: flex;
  flex-direction: column;
}

.card-form {
  width: 100%;
}

.card-form > div {
  flex-basis: 525px;
  margin: 6px;
}

.card-form .form-el:last-child {
  margin-bottom: 20px;
}

.form-el {
  margin-top: 20px;
}

.form-input .fa {
  position: absolute;
  top: 20px;
  transform: translate(0, -50%);
  right: 5px;
  cursor: pointer;
}

.form-input .alert {
  position: relative;
  left: -10px;
}

.form-input > div {
  width: 80%;
  position: relative;
}

.form-input + .form-input {
  margin-top: 10px;
}

.input {
  width: 100%;
  position: relative;
  left: -10px;
  font-family: 'Work Sans';
  padding: 10px;
  font-size: 1.02em;
  outline: none;
  border: none;
  background: url(/images/backcolor.png);
}

.wrong-input {
  border: 1px solid #fcb150;
}

.form-title h1 {
  margin: 0;
}

.form-link, .form-success span, .form-error span {
  margin-left: 30px;
}

.alert {
  color: #fcb150;
}

.form-button i {
  color: #8bf2ef;
  font-size: 1.1em;
  margin: 0 30px;
}

.form-button button{
  background: none;
  font-family: 'Work Sans';
  color: #8bf2ef;
  cursor: pointer;
  font-size: 1.05em;
  border: 2px solid #8bf2ef;
  padding: 12px;
  transition-duration: .2s;
  outline: none;
}

.form-button button:hover {
  background-color: #8bf2ef;
  color: #323232;
}

.form-button button:hover i {
  color: #323232;
}

.form-success span{
  color: #01e000;
}

.form-error span{
  color: #fcb150;
}

@media screen and (max-width: 796px) {
  .mobile-margin {
    height: 250px;
  }
}
