/* THEMES */



.background {
  background-color: #f6f8f8;
}

.card {
  background-color: #fdfdfd;
  box-shadow: 0 1px 30px 8px rgba(210, 210, 210, .2);
  border: .5px solid #ebebeb;
}

.text {
  color: #929292;
}

.icon-color {
  color: #a3a3a3;
}

.main-color {
  color: #fd8d67;
}

.main-color-hover:hover {
  color: #fd8d67;
}

.button {
  background-color: #f57a44 !important;
  color: #fff;
  background: none;
  border: none;
}

.button .fa{
  color: #fdfdfd;
}

.input {
  color: #646464;
  background-color: #f6f8f8;
  border: 1px solid #e6e6e6;
}

.transparent-border-card {
  border-radius: 6px;
  border: 0.5px solid #a3a3a3;
}

.drop-link:hover {
  color: #f57a44;
}


.form-success span{
  color: #01e000 !important;
}

.form-error span{
  color: #fcb150 !important;
}

.alert {
  color: #ff7514 !important;
}

.wrong-input {
  border: 1px solid #ff7514 !important;
}

.blue-link {
  color: #0096ff;
}

.alert-card {
  background-color: #f57a44;
}

.alert-card span, .alert-card i {
  color: #fdfdfd !important;
}

