@font-face {
  font-family: 'Work Sans';
  src: url(../fonts/WorkSans-Light.otf);
}

body {
  margin: 0;
  background: url(/images/backcolor.png);
  font-family: 'Work Sans';
}

a, .fa, span, input, button {
  color: #c8c8c8;
}

h1 {
  color: #8bf2ef;
}

#navigation > :first-child > :last-child,
.centralize {
  display: flex;
}

#navigation-mobile-drop,
#navigation-mobile-drop > div {
  display: flex;
  flex-direction: column;
}

#navigation > :first-child,
.theme-switch,
#navigation > :first-child > div {
  display: flex;
  align-items: center;
}

.centralize {
  justify-content: center;
}

.white-link,
#navigation-mobile-drop > div,
.drop-link {
  transition-duration: .2s;
}

.shadow {
  box-shadow: 0 3px 10px 1px rgba(50, 50, 50, .4);
}

#navigation > :first-child > div {
  flex-basis: 40%;
  height: 100%;
}

#navigation > :first-child > :nth-child(2) {
  flex-basis: 20%;
}




.white-link {
  font-size: 1.1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.white-link:hover {
  color: #8bf2ef;
}

.blue-link {
  color: rgb(0, 140, 255);
  text-decoration: none;
  cursor: pointer;
}


.blue-link:hover {
  text-decoration: underline;
}

.card {
  background: url(/images/cardcolor.png);
}

.round {
  border-radius: 6px;
}

#navigation > :first-child {
  position: absolute;
  top: 0;
  width: 90%;
  height: 45px;
  padding: 0 5%;
}

#navigation + div {
  height: 45px;
}

#navigation .white-link, .theme-switch {
  margin: 0 6px;
}

.theme-switch {
  cursor: pointer;
}

.theme-switch span {
  margin-right: 6px;
}

.theme-switch > div {
  display: inline-block;
  background: url(/images/backcolor.png);
  border-radius: 30px;
  width: 50px;
  padding: 2px;
}

.theme-switch > div > div {
  height: 18px;
  border-radius: 30px;
  width: 50%;
  background: url(/images/cardcolor.png);
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

#navigation > :first-child > :last-child {
  justify-content: flex-end;
}

.big-icon {
  font-size: 1.8em;
}

.big-icon:hover {
  color: #8bf2ef;
  cursor: pointer;
}

.icon-massive {
  font-size: 2.5em;
}

.icon-medium {
  font-size: 1.3em;
}

#navigation-mobile-drop {
  position: relative;
}

#navigation-mobile-drop > div {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  min-width: 150px;
  right: 0;
  text-align: center;
  overflow: hidden;
}

#navigation-mobile-drop:hover > div {
  opacity: 1;
  visibility: visible;
}

#navigation > :last-child {
  position: absolute;
  top: 45px;
  min-height: 30px;
  background-color: #fcb150;
  width: 100%;
  padding: 4px 0;
}

#navigation > :last-child span {
  color: #323232;
  margin: 0 6px;
}

#navigation > :last-child i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 25px;
  color: #323232;
  cursor: pointer;
}

.drop-link {
  display: inline-block;
  padding: 6px;
  text-decoration: none;
}

.drop-link:hover {
  background-color: #8bf2ef;
  color: #323232;
}

@media screen and (max-width: 796px) {
  #navigation > :last-child span {
    margin-right: 50px;
  }
}
