
input.input {
  position: relative;
  border: none;
  border-radius: 6px;
  padding: 8px;
  outline: none;
  font-family: 'Work Sans';
  font-size: 1.01em;
  transition-duration: .2s;
  bottom: 0;
}

.wrong-input {
  border: 2px solid #ecec4b !important;
}

input.input:focus {
  border: 2px solid #FE684F;
}

input.input::placeholder {
  color: #9d9595;
}
