
.list-el {
  position: relative;
  margin-top: 2px;
}

.list-el .visible {
  position: relative;
  padding: 6px 0;
  cursor: pointer;
  transition: background-color .3s;
}

.list-el .content {
  position: relative;
  display: flex;
}

.list-el .left-icon {
  text-align: center;
  width: 30px;
}

.list-el .name {
  margin-left: 6px;
}

.list-el .icons {
  position: absolute;
  height: 100%;
  right: 8px;
  display: flex;
  align-items: center;
}

.list-el .visible.light:hover, .list-el .visible.light.active {
  background-color: #E6E6E6;
}

.list-el .visible.dark:hover, .list-el .visible.dark.active {
  background-color: #282828;
}
