
.content-wrapper {
  height: 100%;
  position: relative;
  overflow: visible;
}

.arrow {
  z-index: 999;
  margin-left: 8px;
  margin-top: 6px;
}

.content {
  margin: 14px 14px 0 14px;
}

.appnav-wrapper {
  overflow-y: visible;
  overflow-x: auto;
}

.appnav-wrapper.desktop {
  width: 305px;
}

.appnav-wrapper.mobile {
  width: 100%;
}

.appnav {
  width: 280px;
  min-height: 100%;
  overflow: auto;
}

.appnav.mobile {
  width: 100%;
}

.list {
  position: relative;
  padding: 0 8px;
  box-sizing: border-box;
}

.list-margin {
  height: 200px;
}


.link {
  display: block;
  text-decoration: none;
  padding: 6px 10px;
  font-size: 1.05em;
  transition: color .3s, background-color .3s;
  border-radius: 8px;
}

.link.light:hover, .router-link-exact-active.light {
  color: #83B7E2;
  background-color: #E6E6E6;
}

.link.dark:hover, .router-link-exact-active.dark {
  color: #83B7E2;
  background-color: #282828;
}

.link:hover .icon {
  color: #83B7E2;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
}

.footer {
  margin: 0 12px;
}

.border {
  width: 92%;
  border: .5px solid #D9D9D9;
  opacity: .4;
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}

.auth-banner {
  flex-basis: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-button {
  margin: 8px;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.auth-button.dark {
  background-color: #83B7E2;
  color: white;
  transition: background-color .3s ease-in;
}

.auth-button.dark:hover {
  transition: background-color .3s ease-out;
  background-color: #83B7E2;
}

.auth-button.light {
  background-color: #F0F0F0;
  color: #8C8C8C;
}

.auth-button.light:hover {
  color: #83B7E2;
}

.navsect {
  display: flex;
  justify-content: space-between;
}