
.header {
  height: 32px;
  display: flex;
  align-items: center;
}

.header.options {
  justify-content: flex-start;
}

.header-icon + .header-icon {
  margin-left: 6px;
}

.header.title {
  justify-content: center;
}

.header .title {
  color: #fc7d7d;
  font-size: 1.1em;
}
