
.margin {
  height: 30px;
}

.component {
  padding-top: 20px;
}

.description {
  margin: 0;
}

.header {
  position: relative;
  z-index: 50;
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
}

.header-option + .header-option {
  margin-left: 15px;
}

.title {
  font-size: 1.5em;
  margin-left: 12px;
  color: #83B7E2;
}

.margin-task.desktop {
  height: 160px;
}

.margin-task.mobile {
  height: 80px;
}
