
.content {
  margin: 0 20px;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
}

.title {
  text-align: center;
}

.input {
  padding: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  transition: border .3s, background-color .3s;
  font-size: 1em;
}

.input.wrong {
  border: 2px solid #FC7C85;
}

.margin + .margin {
  margin-top: 8px;
}

.password {
  position: relative;
}

.eyes {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  color: white;
  text-align: center;
  background-color: #AF92F7;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  transition: background-color .3s;
}

.button:hover {
  background-color: #bd9bfd;
}

.links {
  display: flex;
  justify-content: space-around;
}

.link {
  font-size: .9em;
  color: #2599fe;
  cursor: pointer;
}
