
.content {
  margin: 0 20px;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
}

.title {
  text-align: center;
}

.margin + .margin {
  margin-top: 8px;
}

.password {
  position: relative;
}

.eyes {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  color: white;
  text-align: center;
  background-color: #83B7E2;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  transition: background-color .3s ease-in;
}

.button:hover {
  transition: background-color .3s ease-out;
  background-color: #accfec;
}

.button.tiny {
  width: initial;
  padding: 6px;
}

.button.block {
  opacity: .5;
  background-color: #83B7E2 !important;
  cursor: initial;
}

.links {
  display: flex;
  justify-content: space-around;
}

.link {
  font-size: .9em;
  color: #2599fe;
  cursor: pointer;
}

.input {
  padding: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  transition: border .3s, background-color .3s;
  font-size: 1em;
}

.input.tiny {
  padding: 6px;
  font-size: .9em;
}

.textarea {
  resize: none;
  width: 100%;
}

.input.wrong {
  border: 2px solid #FF6B66;
}
