

.el, .el-icon, .el-name {
  display: flex;
} 

.drop {
  z-index: 5;
  overflow: hidden;
}

.el {
  transition: background-color .25s;
  height: 38px;
  cursor: pointer;
}

.el.dark:hover, .el.selected.dark {
  background-color: #282828;
}

.el.light:hover, .el.selected.light {
  background-color: #E6E6E6;
}

.el-icon {
  height: 100%;
  flex-basis: 35px;
  justify-content: center;
  align-items: center;
}

.el-name {
  flex-basis: 100%;
  align-items: center;
}
