
.showCont {
  margin-bottom: 18px;
}

.header {
  position: relative;
  display: flex;
  height: 35px;
  transform: scale(1,1); /* used for drag and drop */
  transition-duration: .15s;
  overflow: hidden;
}

.mobile .header {
  height: 42px;
}

.header:hover, .isActive {
  background-color: var(--dark);
}

.slim-sidebar .header:hover, .slim-sidebar .isActive {
  background-color: var(--dark-light-gray);
}

.icon {
  color: var(--fade);
  transform: translateY(2px);
  transition-duration: .15s;
}

.icon.headerHover {
  color: var(--txt);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3.5px;
  width: 40px;
  height: 100%;
}

.arrow-wrapper-wrapper {
  position: absolute;
  right: -35px;
}

.arrow-wrapper {
  position: relative;
  width: 2px;
  height: 2px;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform .2s;
  transform: translate(-50%,-50%) rotate(-90deg);
}

.arrow.showCont {
  position: absolute;
  transform: translate(-50%,-50%)  rotate(0deg);
}

.name-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 0;
}

.info {
  flex-basis: 65px;
  height: 100%;
  display: flex;
  align-items: center;
}

.drop {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}
