
.cont {
  margin: 0;
  transition: margin .15s;
}

.showCont {
  margin-bottom: 25px;
}

.header {
  position: relative;
  display: flex;
  height: 19px;
  transform: scale(1,1); /* used for drag and drop */
  transition-duration: .15s;
  overflow: hidden;
  font-family: "Open Sans Bold";
}

.mobile .header {
  height: 42px;
}

.dark .header:hover,
.dark .isActive {
  background-color: var(--dark);
}

.light .header:hover,
.light .isActive {
  background-color: var(--dark-gray);
}

.slim-sidebar .header:hover, .slim-sidebar .isActive {
  background-color: var(--dark-light-gray);
}

.icon {
  color: var(--fade);
  transform: translateY(2px);
  transition-duration: .15s;
}

.icon.headerHover {
  color: var(--txt);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin-left: 1px;
  transform: translateY(-1.5px);
  flex-shrink: 0;
  height: 100%;
}

.arrow-wrapper-wrapper {
  position: absolute;
  right: -32px;
  transform: translateY(.5px);
}

.arrow-wrapper {
  position: relative;
  width: 2px;
  height: 2px;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform .15s;
  transform: translate(-50%,-50%) rotate(-90deg);
}

.arrow.showCont {
  position: absolute;
  transform: translate(-50%,-50%)  rotate(0deg);
}

.name-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 0;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.info {
  flex-basis: 65px;
  height: 100%;
  display: flex;
  align-items: center;
}

.edit-input {
  font-weight: bold;
}

.drop {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.sortable-ghost .icon-wrapper,
.sortable-ghost .info,
.sortable-ghost .name-wrapper {
  display: none;
}

.sortable-ghost {
  background-color: var(--dark-void) !important;
  box-shadow: inset 0 10px 8px -13px rgba(5,5,5, .7),
  inset 0 -10px 5px -13px rgba(210,210,210, .7);
  border-radius: 6px;
}

.sortable-ghost .header {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0 !important;
  transition: none !important;
}
