
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular.otf');
}

body {
  margin: 0;
}

body, button, input {
  font-family: 'Work Sans';
}

.txt {
  color: #8C8C8C;
}

.faded.light {
  color: #bfbfbf;
  opacity: .8;
  cursor: initial;
}

.faded.dark {
  color: #808080;
  opacity: .5;
  cursor: initial;
}

.main-color, h1, h2, h3, h4, h5, h6 {
  color: #AF92F7;
}

.background-color.light {
  background-color: #FEFEFE;
}

.background-color.dark {
  background-color: #1F1F1F; 
}

.card.light {
  background-color: #FDFCFC;
  box-shadow: 0 0 5px rgba(200, 200, 200, .4);
}

.card.dark {
  background-color: #282828;
}

.main-color-card.light {
  background-color: #AF92F7;
}

.main-color-card.dark {
  background-color: #282828;
}

.gray.light {
  background-color: #F0F2F6;
}

.gray.dark {
  background-color: #1C1C1C;
}

.border.dark {
  border: .5px solid #292929; 
}

.border.light {
  border: .5px solid #D9D9D9; 
}

.round-border {
  border-radius: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s !important;
}
.fade-enter, .fade-leave-to {
  opacity: 0 !important;
}
