
@font-face {
  font-family: "Open Sans";
  src: url("../OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../OpenSans-Bold.ttf");
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: var(--back-color);
}

.fade {
  opacity: .6;
}

.cursor {
  touch-action: manipulation;
  cursor: pointer;
}

.cursor:focus {
  outline: 0;
}

body, input, button, textarea {
  font-family: var(--font);
  caret-color: var(--primary);
  color: var(--txt);
  font-weight: 1000 !important;
}

.parsed-link {
  color: var(--dark-blue) !important;
  text-decoration: none !important;
  user-select: unset !important;
  pointer-events: all !important;
  cursor: pointer;
}

.parsed-link:hover {
  text-decoration: underline !important;
}

.cb {
  background-color: var(--card);
}

.cbd {
  background-color: var(--dark);
}

.shadow {
  box-shadow: 0 2px 20px rgba(15,15,15,.2);
}

.pc {
  color: var(--primary);
}

.bd {
  border: 1px solid var(--dark); 
}

.scroll-link {
  color: var(--txt);
  text-decoration: none;
}

.rb {
  border-radius: 4px;
}

.tac {
  text-align: center;
}

.remove-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-tap-highlight-color: transparent !important;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 4px;
}

.scroll-thin::-webkit-scrollbar {
  width: 4px;
}

.scroll-thin-horizontal::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 4px;
}

.scroll-thin-horizontal::-webkit-scrollbar {
  height: 8px;
}

.scroll-main::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 4px;
}

.scroll-main::-webkit-scrollbar {
  width: 10px;
}

.task-link {
  color: var(--primary) !important;
  text-decoration: none;
}

.task-link:hover {
  text-decoration: underline;
}
