
@font-face {
  font-family: "Work Sans";
  src: url("../WorkSans-Regular.otf");
}

html {
  touch-action: manipulation;
}

:root {
  --back-color: #1c1c1c;
  --primary-dark: #64a0bb;
  --primary: #64a0bb;
  --primary-light: #9fc4d5;
  --sidebar-color: #171717;
  --card: #1f1f1f;
  --txt: #b3b3b3;
  --fade: #696969;

  --dark: #1c1c1c;
  --dark-gray: #202020;
  --light-gray: #292929;
  --extra-light-gray: #383838;
  --dark-void: #121212;
  --extra-extra-light-gray: #888888;

  --font: "Work Sans";

  --orange: #FFA166;
  --green: #57DE5B;
  --purple: #a160eb;
  --olive: #4fe39e;
  --brown: #daa85d;
  --yellow: #FFE366;
  --dark-blue: #544ceb;
  --red: #DE5757;
  --dark-red: #ea3a34;
}

body {
  margin: 0;
  background-color: var(--back-color);
}

.fade {
  opacity: .6;
}

.cursor {
  touch-action: manipulation;
  cursor: pointer;
}

.cursor:focus {
  outline: 0;
}

body, input, button, textarea {
  font-family: var(--font);
  color: var(--txt);
}

.cb {
  background-color: var(--card);
}

.cbd {
  background-color: var(--dark);
}

.shadow {
  box-shadow: 0 4px 14px rgba(10,10,10,.3);
}

.pc {
  color: var(--primary);
}

.bd {
  border: 1px solid var(--dark); 
}

.scroll-link {
  color: var(--txt);
  text-decoration: none;
}

.rb {
  border-radius: 8px;
}

.tac {
  text-align: center;
}

.remove-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-tap-highlight-color: transparent !important;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 6px;
}

.scroll-thin::-webkit-scrollbar {
  width: 4px;
}

.scroll-thin-horizontal::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 6px;
}

.scroll-thin-horizontal::-webkit-scrollbar {
  height: 4px;
}

.scroll-main::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 6px;
}

.scroll-main::-webkit-scrollbar {
  width: 10px;
}

.task-link {
  color: var(--primary) !important;
  text-decoration: none;
}

.task-link:hover {
  text-decoration: underline;
}
