
@font-face {
  font-family: "Work Sans";
  src: url("../WorkSans-Regular.otf");
}

html {
  touch-action: manipulation;
}

:root {
  --primary-dark: #2b5cda;
  --primary: #5a81e2;
  --primary-light: #8aa5ea;

  --back-color: #232325;
  --sidebar-color: #1e1e20;
  --light-sidebar-color: #232325;
  --card: #28282a;

  --txt: #cccccc;
  --dark-txt: #bdbdbd;
  --fade: #6b6b6b;

  --dark: #232325;
  --dark-gray: #28282a;
  --dark-light-gray: #2d2d2f;
  --light-gray: #2f3032;
  --extra-light-gray: #3e3f42;
  --dark-void: #19191a;
  --extra-extra-light-gray: #888888;

  --font: "Work Sans";

  --orange: #f68a46;
  --green: #3efe45;
  --purple: #a04dff;
  --dark-purple: #6b0fff;
  --olive: #3dffa5;
  --brown: #e4944e;
  --yellow: #ffff4d;
  --dark-blue: #5751c8;
  --red: #ff4d4d;
  --dark-red: #f2241c;
}

body {
  margin: 0;
  background-color: var(--back-color);
}

.fade {
  opacity: .6;
}

.cursor {
  touch-action: manipulation;
  cursor: pointer;
}

.cursor:focus {
  outline: 0;
}

body, input, button, textarea {
  font-family: var(--font);
  caret-color: var(--primary);
  color: var(--txt);
}

.parsed-link {
  color: var(--dark-blue);
  text-decoration: none;
}

.parsed-link:hover {
  text-decoration: underline;
}

.cb {
  background-color: var(--card);
}

.cbd {
  background-color: var(--dark);
}

.shadow {
  box-shadow: 0 2px 8px rgba(10,10,10,.45);
}

.pc {
  color: var(--primary);
}

.bd {
  border: 1px solid var(--dark); 
}

.scroll-link {
  color: var(--txt);
  text-decoration: none;
}

.rb {
  border-radius: 4px;
}

.tac {
  text-align: center;
}

.remove-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-tap-highlight-color: transparent !important;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 4px;
}

.scroll-thin::-webkit-scrollbar {
  width: 4px;
}

.scroll-thin-horizontal::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 4px;
}

.scroll-thin-horizontal::-webkit-scrollbar {
  height: 8px;
}

.scroll-main::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 4px;
}

.scroll-main::-webkit-scrollbar {
  width: 10px;
}

.task-link {
  color: var(--primary) !important;
  text-decoration: none;
}

.task-link:hover {
  text-decoration: underline;
}
