/* 
  mainColor: #FE684F;
  fourth: #ecf9f3;
*/

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-Regular.otf');
}

body {
  font-family: 'Work Sans';
}

.mainColor {
  color: #FE684F;
}

.card-round {
  border-radius: 8px;
}

span, a, p {
  color: #ADADAD;
}

div.nav-link:hover > a, .active-nav-link > a {
  color: #FE684F;
}

.magic-line {
  background-color: #FE684F;
}

.heading {
  color: #FE684F;
  margin: 15px 0;
}

.span-alert-error {
  color: #ecec4b;
}

.route-link {
  text-decoration: none;
  color: #6387ff;
}

.route-link:hover {
  text-decoration: underline;
}

/* BUTTON */

.button {
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #fff;
  background-color: #FE684F;
  font-size: 1.05em;
  cursor: pointer;
  transition-duration: .2s;
  outline: none;
  font-family: 'Work Sans';
  top: 0;
}

.button span, .button i {
  color: #fff;
}

.button:hover {
  background-color: #fe7367;
}

/* ICON */

.icon {
  color: #ADADAD;
}

.icon-main-color {
  color: #FE684F;
}

.icon-color-hover {
  transition-duration: .2s;
}

.icon-color-hover:hover {
  color: #FE684F;
}

/* ICON */

input.input {
  position: relative;
  border: none;
  border-radius: 6px;
  padding: 8px;
  outline: none;
  font-family: 'Work Sans';
  font-size: 1.01em;
  transition-duration: .2s;
  bottom: 0;
}

/* TOAST */

.toast {
  padding: 0 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans Regular';
}

/* TRANSITIONS */

.toast-transition-enter {
  bottom: -40px !important;
}

.toast-transition-enter-active {
  transition-duration: .3s;
}

.toast-transition-leave-active {
  transition-duration: .3s;
  bottom: -40px !important;
}

.router-view-enter-active, .router-view-leave-active {
  transition: opacity .1s;
}
.router-view-enter, .router-view-leave-to {
  opacity: 0;
}

.nav-link-enter-active, .nav-link-leave-active {
  transition: opacity .3s;
}
.nav-link-enter, .nav-link-leave-to {
  opacity: 0;
}

