
.mt {
  margin-top: 8px;
}

.popup {
  margin: 12px;
  margin-top: 75px;
  flex-basis: 550px;
}

.popup.fillSpace {
  overflow: auto;
  margin: 0;
  margin-top: initial;
  flex-basis: initial;
}

.content.fillSpace {
  margin: 10px;
}

.title {
  margin: 22px 0;
}

.content {
  margin: 28px;
  margin-top: 0;
}

.scroll {
  overflow: auto;
}
