
.mt {
  margin-top: 8px;
}

.popup.desktop {
  margin-top: 75px;
  flex-basis: 650px;
}

.title {
  overflow: hidden;
}

.content {
  margin: 28px;
  margin-top: 0;
}

.content.mobile {
  margin: 10px;
}

.scroll {
  overflow: auto;
}
