
.mt {
  margin-top: 8px;
}

.popup {
  margin: 12px;
  margin-top: 75px;
  flex-basis: 650px;
}

.popup.fillSpace {
  margin-top: initial;
  flex-basis: initial;
}

.content.fillSpace {
  margin: 10px;
}

.title {
  overflow: hidden;
}

.content {
  margin: 28px;
  margin-top: 0;
}


.scroll {
  overflow: auto;
}
