
.date-wrapper {
  color: var(--fade);
  height: 28px;
  border-bottom: 1px solid var(--light-gray);
  font-size: 1.1em;
  margin-bottom: 12px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.tag {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--dark);
  padding: 6px;
  font-size: .8em;
}
