
.date-wrapper {
  color: var(--fade);
  height: 28px;
  border-bottom: 1px solid var(--light-gray);
  font-size: 1.1em;
  margin-bottom: 30px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.green {
  color: var(--green);
}

.tag {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--dark);
  padding: 6px;
  font-size: .8em;
}

.list {
  margin-left: 30px;
}

.division {
  border-bottom: 1px solid var(--light-gray);
  margin: 30px 0;
}

.icon {
  transform: translateY(5px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
  color: var(--primary);
}

.heading-icon {
  transform: translateY(2px);
  margin-right: 4px;
}
