.bodyBackground-light {
  background-color: #fefafa;
}

span, a, p {
  color: #969c9c;
}

.card-light, .card-round-light {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(220,220,220,0.4);
}

.card-round-light {
  border-radius: 6px;
}

div.nav-link-light:hover > a, .active-nav-link-light > a {
  color: #ec554d;
  border-bottom: 3px solid #ec554d;
}

.heading-light {
  color: #ec554d;
  margin: 15px 0;
}
