.button-light {
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #fff;
  background-color: #8cd9b6;
  font-size: 1.05em;
  cursor: pointer;
  transition-duration: .2s;
  outline: none;
  font-family: 'Work Sans';
  top: 0;
}

.button-light:hover {
  background-color: #b0e8df;
}