/* 
  mainColor: #8cd9b6;
  fourth: #ecf9f3;
*/


@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-Light.otf');
}

@font-face {
  font-family: 'Work Sans Regular';
  src: url('/assets/fonts/WorkSans-Regular.otf');
}

body {
  font-family: 'Work Sans';
}

.bodyBackground-light {
  background-color: #ecf9f3;
}

span, a, p {
  color: #9c9696;
}

.mainColor-light {
  color: #8cd9b6;  
}

.card-light, .card-round-light {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(220,220,220,0.4);
}

.card-round-light {
  border-radius: 8px;
}

div.nav-link-light:hover > a, .active-nav-link-light > a {
  color: #8cd9b6;
  border-bottom: 3px solid #8cd9b6;
}

.heading-light {
  color: #8cd9b6;
  margin: 15px 0;
}

.span-alert-error-light {
  color: #ec554d;
}

.route-link-light {
  text-decoration: none;
  color: #6387ff;
}

.route-link-light:hover {
  text-decoration: underline;
}

.shadow-light {
  box-shadow: 0 4px 10px 2px rgba(180, 180, 180, .4) !important;
}
